name: Push image tag latest to docker hub

on:
  push:
    branches: [ "main" ]
    paths:
      - 'src/**'
      - 'dockerfile'
      - '.github/workflows/push-image-docker-io.yml'
      - 'entrypoint.sh'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'src/**'
      - 'dockerfile'
      - '.github/workflows/push-image-docker-io.yml'
      - 'entrypoint.sh'

env:
  PLATAFORM_ARCH: linux/amd64,linux/arm64/v8
  CONTAINER_REPO: ${{ vars.DOCKERHUB_USERNAME }}/bitwarden-backup
  
jobs:
  build:
    
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: ${{ env.PLATAFORM_ARCH }}
                
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: dockerfile
          platforms: ${{ env.PLATAFORM_ARCH }}
          push: true
          tags: ${{ env.CONTAINER_REPO }}:latest
